<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="netmis" connectionString="server=192.168.0.109;uid=sa;pwd=123456;database=netmis_en"/>
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--导出格式 1： 时间放在同一列  2：时间放在同一行 -->
    <add key="output_format" value="2"/>
    <!--提前多少天提醒-->
    <add key="remind_days_before" value="30"/>
  </appSettings>
</configuration>